@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

.upperline, form{
   margin-bottom: -2px;
}

.logo {
    font-weight: 400;
    line-height: 70.94px;
    font-family: "Kurale", serif;
    color: #fff;
  }
  .mobile{
    background-color: #007bff;
  }
  .input{
    width: 100%;
    padding: 8px;
  }
  .spanzero{
    border: 1px solid black;
    font-size: 10px;
    padding: 1px 6px;
    border-radius: 50px;
    background-color: #ffffff;
    border: #ffffff;
    font-weight: bold;
    left: -0.5rem;
    top: 0;
    margin-right: 5px;
    color: red;
  
  }
