@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

.nav-desk {
  background-color: #007bff;
}

.afric-font {
  font-family: "Kurale", serif;
}

.cc-search {
  margin-bottom: 0 !important;
}

.input-group {
  align-items: center;
}

.input-group-text {
  background-color: rgba(221, 217, 214, 0.4);
  border: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.input-group .form-control {
  background-color: rgba(221, 217, 214, 0.4);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.input::placeholder {
  color: white;
}

.input-group .form-control,
.input-group-text {
  height: calc(1.5em + 1rem + 2px);
}

.spanzero{
  border: 1px solid black;
  font-size: 10px;
  padding: 1px 6px;
  border-radius: 50px;
  background-color: #ffffff;
  border: #ffffff;
  font-weight: bold;
  left: -0.5rem;
  top: 0;
  margin-right: 5px;
  color: red;

}